.sidebar {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  z-index: 11;
}

.header {
  padding: 0;
  width: calc(100% - 32px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;

  position: sticky;
  top: 10px;
  z-index: 1;

  transition: background-color 0.3s ease;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  z-index: -1;
}

.headerScroll {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.headerScroll::before {
  background-color: rgba(255, 255, 255, 1) !important;
  filter: blur(10px);
}

.content {
  margin: 24px 16px 0;
  min-height: calc(100vh - 164px);
  overflow: initial;
}

.overlay-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.6);
  cursor: pointer;
  z-index: 1;
}

.overlay-menu-button-container {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.overlay-menu-button {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.6);
}

/* @media screen and (min-width: 1560px) {
  .layout {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
} */

.layout :global(.ant-card) {
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
}

.layout :global(.ant-card-head) {
  border-bottom: 0;
  padding: 0 20px !important;
}

.layout :global(.table .ant-card-body) {
  padding: 0px 16px 0px 16px;
}

@media screen and (min-width: 768px) {
  .layout :global(.table .ant-card-body) {
    padding: 16px 0px 0px;
  }
}

.layout :global(.ant-card-head-wrapper) {
  min-height: 72px;
}

.layout :global(.ant-card-head-title) {
  font-weight: 600;
  font-size: 20px;
  padding: 16px 0;
}

.layout :global(.ant-table-thead > tr > th) {
  background-color: transparent;
  color: #8c8c8c;
  font-weight: 700;
  font-size: 12px;
}

.layout :global(.ant-table-tbody > tr > td),
.layout :global(.ant-table-thead > tr > th) {
  padding: 16px 25px;
}

.layout :global(.ant-table-tbody > tr > td) {
  color: rgba(0, 0, 0, 0.85);
}

.layout :global(.ant-table-pagination.ant-pagination) {
  margin-right: 25px;
}
